server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      trusted-proxies: ".*"
      routes:
        - id: product-composite
          uri: lb://product-composite
          predicates:
            - Path=/product-composite/**
          filters:
            - StripPrefix=1
        - id: eureka-web
          uri: http://${app.eureka-server}:8761
          predicates:
            - Path=/eureka/**
          filters:
            - StripPrefix=1

app:
  eureka-server: localhost

eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5
