server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      trusted-proxies: ".*"
      routes:
        - id: product-composite
          uri: http://product-composite-service:7001
          predicates:
            - Path=/product-composite/**

---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    gateway:
      routes:
        - id: product-composite
          uri: http://product-composite-service:7001
          predicates:
            - Path=/product-composite/**
