server:
  port: 7003

spring:
  application:
    name: recommendation-service
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27017/recommendation_db?authSource=admin
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: recommendation-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

---
spring:
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      uri: mongodb://admin:password@mongodb:27017/recommendation_db?authSource=admin
  kafka:
    bootstrap-servers: kafka:9092
