server:
  port: 7004

spring:
  application:
    name: review-service
  r2dbc:
    url: r2dbc:mysql://localhost:3306/review_db
    username: user
    password: password
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: review-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

---
spring:
  config:
    activate:
      on-profile: docker
  r2dbc:
    url: r2dbc:mysql://mysql:3306/review_db
    username: user
    password: password
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  kafka:
    bootstrap-servers: kafka:9092
